.border-b[data-v-6df50c72]{border-bottom:1px solid #e5e7eb}.config[data-v-6df50c72] *{font-size:12px!important}.editor-wrapper[data-v-6df50c72]{height:600px}@media(max-height:800px){.editor-wrapper[data-v-6df50c72]{height:400px}}
